html .layout.horizontal,
html .layout.horizontal-reverse,
html .layout.vertical,
html .layout.vertical-reverse {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

html .layout.inline {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

html .layout.horizontal {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

html .layout.horizontal-reverse {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

html .layout.vertical {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

html .layout.vertical-reverse {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

html .layout.wrap {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

html .layout.wrap-reverse {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

html .flex-auto {
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

html .flex-none {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}

html .flex,
html .flex-1 {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}

html .flex-2 {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}

html .flex-3 {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}

html .flex-4 {
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}

html .flex-5 {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}

html .flex-6 {
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
}

html .flex-7 {
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}

html .flex-8 {
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
}

html .flex-9 {
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
}

html .flex-10 {
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
}

html .flex-11 {
  -ms-flex: 11;
  -webkit-flex: 11;
  flex: 11;
}

html .flex-12 {
  -ms-flex: 12;
  -webkit-flex: 12;
  flex: 12;
}

/* alignment in cross axis */

html .layout.start {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

html .layout.center,
html .layout.center-center {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

html .layout.end {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/* alignment in main axis */

html .layout.start-justified {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

html .layout.center-justified,
html .layout.center-center {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

html .layout.end-justified {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

html .layout.around-justified {
  -ms-flex-pack: around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

html .layout.justified {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* self alignment */

html .self-start {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}

html .self-center {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}

html .self-end {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}

html .self-stretch {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}

/*******************************
          Other Layout
*******************************/

html .block {
  display: block;
}

/* IE 10 support for HTML5 hidden attr */
html [hidden] {
  display: none !important;
}

html .invisible {
  visibility: hidden !important;
}

html .relative {
  position: relative;
}

html .fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body.fullbleed {
  margin: 0;
  height: 100vh;
}

html .scroll {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}

.fixed-bottom,
.fixed-left,
.fixed-right,
.fixed-top {
  position: fixed;
}

html .fixed-top {
  top: 0;
  left: 0;
  right: 0;
}

html .fixed-right {
  top: 0;
  right: 0;
  botttom: 0;
}

html .fixed-bottom {
  right: 0;
  bottom: 0;
  left: 0;
}

html .fixed-left {
  top: 0;
  botttom: 0;
  left: 0;
}