@keyframes title-scale-in {

  from{
    transform: translateY(-25px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }

}

@keyframes subtitle-scale-in {

  from{
    transform: scale(.5);
    opacity: 0;
  }

  to{
    transform: scale(1);
    opacity: 1;
  }

}

@keyframes blog-button-scale-in {

  from{
    transform: translateY(25px);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }

}