*{
  box-sizing: border-box;
}

html{
  font-size: 100%;
}

body{
  font-family: 'Source Code Pro', sans-serif;
  background-color: #FFFFFF;

  font-size: 1em;
}

@media (max-width: 600px) {

  html{
    font-size: .7rem;
  }


}