footer{
  padding: 24px;
  background-color: #111111;

  color: rgba(255,255,255,.90);

  a{
    color: rgba(255,255,255,.78);
    font-weight: 200;
    font-size: 1rem;
  }

  .footer-links{
    padding-bottom: 24px;
  }

  .footer-attribution{
    padding-top: 6px;
    font-size: .7rem;
  }

}