section{
  //min-height: 100vh;
  max-width: 710px;
  margin: 1.5rem auto;
  padding: 24px;

  h1{
    font-size: 2.5rem;
    color: #333333;
    padding: 24px 0;
  }

}

.about-me{

  img{
    border-radius: 100%;
    transition: all .3s;

    &:hover{
      transform: scale(1.1) rotateZ(20deg);
    }

  }

  p{
    font-size: 1.1rem;
    line-height: 2.3rem;
    margin-top: 6px;
    color: #3A4145;
    text-align: center;
  }

}

.project-list{

  .project{

    display: block;
    margin: 24px 0;

    h4{
      font-size: 1.3rem;
      color: #444444;
      display: block;
      padding-bottom: 12px;
    }

    span{
      line-height: 1.8rem;
      color: #3A4145;
      font-size: 1.1rem;
    }

    a{
      display: block;
      background-color: rgba(0,0,0,.05);
      text-align: center;
      padding: 12px;
      margin-top: 24px;
      color: #444444;
      text-decoration: none;

      &:hover{
        background-color: #111111;
        color: rgba(255,255,255,.90);
      }

    }

  }

}

.skill-list{

  .skill{

    padding: 24px;
    width: 33%;
    transition: width .3s linear;

    @media (max-width: 600px) {
      width: 50%;
      padding: 12px;
    }

    .skill-icon{

      border-radius: 50%;
      border: 1px solid #333333;
      padding: 12px;

    }

    .skill-info{

      margin-top: 12px;

      .skill-title{
        display: block;
        font-weight: 700;
        text-align: center;
        font-size: 1.2rem;
        color: #333333;
      }

      .skill-description{
        display: block;
        text-align: center;
        margin-top: 12px;
        font-size: .9rem;
      }

    }

  }

}

#slider{
  height: 100vh !important;
  background-color: #111111;
}